$color1: #4babe0;

body {
  h4 {
    font-family: monospace;
    color: green;
  }
}

.marked {
  color: $color1;
  transition: all 0.25s ease;

  &:hover {
    cursor: pointer;
    color: darken($color1, 15%);
    text-decoration: underline;
  }
}
